.article{
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    flex: 70%;
    padding: 30px;
    background-color: #d9e9ed;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.education{
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    flex: 70%;
    padding: 30px;
    background-color: #d9e9ed;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.article .workexp, h3, .data ,p{
    margin-top: 10px;
}

.article h2 ,h3{
    font-size: 16px;
}
.article .front-end-dev, .web-dev, .ux-design, .w3schools, .business-school {
    margin-top: 55px;
}

.tittle{
    display: flex;
}

.data{
    font-size: 16px;
    display: flex;
    color: darkgreen;
    padding: 5px;
    align-items: center;
}.data h2{
    font-size: 16px;
}
.data *{
    padding-right: 8px;
}

.data .current{
    background-color: darkgreen;
    border-radius: 5px;
    color: azure;
    padding: 5px;
}

.tittle{
    display: flex;
}

