/*organizar codigo em ordem alfabetica*/

body{
    background-color: #262737;
    color: aliceblue;
}

/*ao colocar um elemento do lado de um conteiner, busca esse elemento dentro do conteiner*/
article h1{
    text-align: center;
}

article p{
    text-align: justify;
}

article .boxPadding {

    border: 2px solid rgb(255, 255, 255);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}

.box{
    padding: 70px;
    border: 2px solid rgb(255, 255, 255); 
}

.box2 .boxPadding {
    background-color: rgb(56, 56, 56);
    border: 2px solid rgb(0, 0, 0);
    padding: 25px 50px 75px 100px;
    
}