body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
h1{
    font-size: 2em;
    color: darkgreen;
}
h2{
    color: green;  
}

#titulo-principal{
    background: green;
    color: white;
    text-align: center;
}
#titulo-secundario{

}

.topico1{
    text-align: center;
}
.topico2{
    text-align: center;
}

.paragrafo1{
    color: red;
}
.paragrafo2{
    text-align: left;
}