table{
    color:  azure;
    border-collapse: collapse;
    text-align: center;
    
}
    th {
        
        border: 2px solid black;
        background-color: rgb(74, 74, 155);
        width: 6em;
        height: 1,5em;
    }   
    td{
        border: 2px solid black;
        background-color: rgb(132, 132, 255);
        width: 12em;
        height: 3em;
    }
