/* Formatação do Texto da Página */
body{
    background-color: #FFF1D6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6; /* Aumenta a altura entre linhas */
    max-width: 1000px;
    margin: 0 auto;
}

/* Espaçamento entre o Todo Conteúdo e as bordas da Página */
main{
    margin: 0 auto;
    width: 660px;
    float: left;
}

/* Over Mouse mudar cor do título */
h1:hover{
    background-color: #7E9F19;
    color: #FFF;
}

/* formatação dos Conteúdos/Sections */
section {
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 20px;
}

/* Borda em Baixo to SubTítulo */
section h2 {
    border-bottom: 1px dashed lightsalmon;
}

/* Formatação da Imagem */
section img{
    border: 1px solid lightsalmon;
    float: left;
    margin: 10px 10px 0 0;
    overflow: auto;
    padding: 2px;
    width: 220px;
    height: 160px;
}

/* Cria uma quebra no conteúdo com div */
.clear{
    clear: both;
}
    