table {
    border: 1px solid black;
    width: 500px; /*largura*/
    height: 150px; /*altura*/
    /*border-collapse: collapse; /* colapsa as bordas em uma unica. */
    border: none; /*retira a borda geral da tabela*/
}
td{
    border: 1px solid black;
    background-color: #96D4D4;
    border-radius: 10px;
    border-style: ridge;
}