body{
    background-color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}body a{
    text-decoration: none;
    color: black;
}

h2{
    text-align: center;
}

.col{
    float: left;
    width: 30%;
    padding: 8px;
}

.price-box{
    background-color: #fff;
    color: #555;
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 0;
}

.price-box .header{
    background-color: #111;
    color: azure;
    font-size: 25px;
}

.btn{
    background-color: #4caf50;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Se a "Midia" for de tamanho de 700px, a coluna("col") ira preencher 100% a tela */
@media (max-width: 700px){
    /* .col{
        width: 100%;
    } */
}

/* Se a "midia" for  entre 400 e 800px a coluna retorna ao tamanho normal */
@media ((min-width: 401px) and (max-width: 800px)){
    .col{
        width: 100%;
    }
}