body{
    margin: 40px;   
}
body *{
    margin: 10px;
}

button{
    border-radius: 5px;
    background-color: lightgray;
    border-width: 0px;
    padding: 1%;
}button:hover{
    background-color: lightblue;
    border: 1px solid rgba(102, 217, 255, 0.274);
}

input{
    border-radius: 5px;
    border-color: lightblue;
}

div{
    background-color: lightslategray;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 20px;
    margin: auto;
    width: 20%;
}
